<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= bloggername %>相册</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body id="album">
    <% include menu %>
    <div class="container">
        <div class="row">
            <nav class="navbar col-md-10 col-md-offset-1" id="nav">
                <h4><a href=""><%= bloggername%>的博客</a></h4>
                <div class="nav navbar-nav">
                    <li><a href="">首页</a></li>
                    <li><a href="http://localhost:3000/<%= blogger %>/bloglist">日志</a></li>
                    <li><a href="http://localhost:3000/<%= blogger %>/album">相册</a></li>
                    <li><a href="http://localhost:3000/<%= blogger %>/about">关于我</a></li>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <% include message %>
                <div class="album_operation">
                    <a href=""  class="create_album" data-toggle="modal" data-target="#album_modal"></a>
                </div>
                <div class="alubm_list">
                    <ul>
                        <% for(var i = 0; i < album_name.length; i++) {%>
                        <li class="content-album">
                            <div class="content-album-cover">
                                <a href="http://localhost:3000/<%= blogger %>/album/<%= album_name[i]%>">
                                    <% if (album_cover[i]) { %>
                                        <img class="album_cover" src="<%= "/images/album/" + userid + "/" + album_name[i]+"/small/"+ album_cover[i]%>">
                                        </img>
                                    <% } else { %>
                                        <div class="empty-album">
                                            <span>添加照片</span>
                                        </div>
                                    <% } %>
                                </a>
                                <div class="content-album-del">
                                    <a class="modify" title="编辑" href="" data-toggle="modal" data-target="#album_edit_modal"></a>
                                    <a class="delete" title="删除" href="" data-toggle="modal" data-target="#album_del_modal"></a>
                                </div>
                            </div>
                            <div class="content-album-picture-total">
                                <span><%= album_number[i]%></span>张
                            </div>
                            <div class="content-album-info">
                                <a class="content-album-name" title="<%= album_name[i] %>" href="http://localhost:3000/<%= blogger %>/album/<%= album_name[i]%>"><%= album_name[i] %></a>
                                <span class="content-album-date"><%= album[i].album_time.getFullYear()%>-<%= album[i].album_time.getMonth()+1%>-<%= album[i].album_time.getDate()%>
                                </span>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 创建相册 -->
    <div class="modal fade" id="album_modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">创建相册</h4>
                </div>
                <form action="/album" method="post" id="album_form">
                    <div class="modal-body">
                        <label for="album_name" class="control-label">相册名称: </label>
                        <input type="text" class="form-control" id="album_name" name="album"maxlength="16">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="album_creave">确认</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--编辑相册-->
    <div class="modal fade" id="album_edit_modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">编辑相册</h4>
                </div>
                <form action="/album_edit" method="post" id="album_edit">
                    <div class="modal-body">
                        <label for="album_name" class="control-label">相册名称: </label>
                        <input type="hidden" value="" name="old_name" id="new_name">
                        <input type="hidden" value="" name="album_index" id="album_index">
                        <input type="text" class="form-control" id="album_name" name="new_name" maxlength="16">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="album_edit_submit">确认</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--删除相册-->
    <div class="modal fade" id="album_del_modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">删除相册</h4>
                </div>
                <form action="/album_del" method="post" id="album_edit">
                    <div class="modal-body">
                        <label for="album_name" class="control-label">是否要删除此相册 </label>
                        <input type="hidden" value="" name="del_name" id="del_name">
                        <input type="hidden" value="" name="album_del_index" id="album_del_index">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="album_edit_submit">确认</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <% include page %>
    <script src="/javascripts/jquery-1.11.1.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script>
        $(".content-album").mouseenter(function(){
            $(this).children(".content-album-cover").children(".content-album-del").addClass("ico-show")
        })
        $(".content-album").mouseleave(function(){
            $(this).children(".content-album-cover").children(".content-album-del").removeClass("ico-show")
        })
    </script>
    <script>
        var index = parseInt("<%= page_index %>") - 1;
        $('.content-album-del').children(".modify").click(function(){
            var album_name = []
            $('.content-album-name').each(function(e){
                album_name.push($(this).attr('title'))
            })
            $('#new_name').attr('value', album_name[$(this).parent().parent().parent().index()])
            $('#album_index').attr('value',$(this).parent().parent().parent().index() + index * 8  )
            console.log($('#new_name').attr('value'), $('#album_index').attr('value'))
        })

        $('.content-album-del').children('.delete').click(function(){
            var album_name = []
            $('.content-album-name').each(function(){
                album_name.push($(this).attr('title'))
            })
            $('#del_name').attr('value', album_name[$(this).parent().parent().parent().index()])
            $('#album_del_index').attr('value',$(this).parent().parent().parent().index() + index * 8)
            console.log($('#del_name').attr('value'),$('#album_del_index').attr('value') )
        })
    </script>
</body>
</html>