<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%- blog_title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body id="blog">
    <% include menu %>
    <div class="container">
        <% include navbar %>
        <div class="row">
            <div class="col-md-3 ">
                <div class="per_data">
                    <div class="data_head">
                        <span>个人资料</span>
                    </div>
                    <div class="data_body">
                        <div class="data_img">
                            <% if (logo) { %>
                            <img src="<%= logo %>">
                            <% }else {%>
                            <img src="/images/logo/default.jpg">
                            <% }%>
                        </div>
                        <div class="data_name">
                            <span><%= bloggername %></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="text">
                    <div class="text_head">
                        <span>正文</span>
                    </div>
                    <div class="text_body">
                        <!--正文开始-->
                        <div class="blog">
                            <div class="blogTitle">
                                <h2 class="titleName"><%- blog_title %></h2>
                                <span class="titleTime"><%= blog_time.getFullYear() +"-"+ (blog_time.getMonth() + 1) +"-"+ blog_time.getDate() + " " + blog_time.getHours() + ":" + blog_time.getMinutes() %></span>
                                <a href="http://localhost:3000/blog_edit/<%= blog_id%>">[编辑]</a>
                                <a href="">[删除]</a>
                            </div>
                            <div class="blogTag">
                                <span>分类：</span>
                                <a href="http://localhost:3000/surahe/bloglist/<%= blog_tag%>"><%= blog_tagName %></a>
                            </div>
                            <div class="blogContent">
                                <%- blog_content %>
                            </div>
                        </div>
                        <!--正文结束-->
                        <!--评论开始-->
                        <div class="comment">
                            <div class="comm_title">
                                <span>评论</span>
                                <a href="#post">[发评论]</a>
                            </div>
                            <ul id="comment_list">
                                <!--无评论-->
                                <li>
                                    <div class="noCommdate">
                                        <span class="SG_txtb">尚未有评论</span>
                                    </div>
                                </li>
                            </ul>
                            <a name="post"></a>
                            <div class="write_commm">
                                <div class="comm_title">
                                    <span>发评论</span>
                                </div>
                                <div class="comm_form">
                                    <textarea id="commentArea" rows="7" cols="50"></textarea>
                                </div>
                                <div class="comm_btn">
                                    <a  class="btn btn-success" >发评论</a>
                                </div>
                            </div>
                        </div>
                        <!--评论结束-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/jquery-1.11.1.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</body>
</html>