<div class="row">
    <nav class="navbar col-md-10 col-md-offset-1" id="nav">
        <h4><a href="http://localhost:3000/u/<%= blogname %>"><%= bloggername%>的博客</a></h4>
        <div class="nav navbar-nav">
            <li><a href="http://localhost:3000/u/<%= blogname %>">首页</a></li>
            <li><a href="http://localhost:3000/<%= blogname %>/bloglist">日志</a></li>
            <li><a href="http://localhost:3000/<%= blogname %>/album">相册</a></li>
            <li><a href="http://localhost:3000/<%= blogname %>/about">关于我</a></li>
        </div>
    </nav>
</div>